* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header-logo {
    height: 20%;
    pointer-events: none;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}